@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/**********************
    setting
***********************/
/************************
    parts-fv
**************************/
.fv {
  position: relative;
}
.fv img {
  height: clamp(12.5rem, -2.944rem + 32.18vw, 21.188rem);
}
.fv .section__wrapper {
  position: absolute;
  top: clamp(1.25rem, -4.861rem + 12.73vw, 4.688rem);
  left: clamp(0rem, -25.778rem + 53.7vw, 14.5rem);
  color: #222222;
  font-weight: bold;
  max-width: clamp(15.625rem, 4.514rem + 23.15vw, 21.875rem);
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .fv .section__wrapper {
    padding: 0 20px;
  }
}

.fv__title-en {
  font-size: clamp(2.25rem, -0.861rem + 6.48vw, 4rem);
  font-family: "Viga";
  background-color: #fff;
  display: inline-block;
  padding: 3px 10px;
}

.fv__title-ja {
  margin-top: 21px;
  font-size: clamp(1.25rem, 0.806rem + 0.93vw, 1.5rem);
  background-color: #fff;
  display: inline-block;
  padding: 3px 10px;
}

.fv__subtitle {
  color: #988C2C;
  padding: 7px 10px;
  margin-top: 18px;
  background-color: #fff;
  display: inline-block;
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
  text-wrap-mode: nowrap;
}

/************************
    common
**************************/
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}

.section__wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 17px;
}
@media screen and (max-width: 768px) {
  .section__wrapper {
    margin: 0;
    box-sizing: border-box;
  }
}

.flex-box {
  display: flex;
}

.grid-box {
  display: grid;
}

.top-title {
  position: relative;
  padding-bottom: clamp(5rem, -1.222rem + 12.96vw, 8.5rem);
}
.top-title .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, -0.222rem + 4.63vw, 3.25rem);
}
@media screen and (max-width: 768px) {
  .top-title .main-title {
    left: 67px;
  }
}
.top-title .main-title span {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.sabtitle {
  line-height: 1.5;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .sabtitle {
    margin-top: 19px;
  }
}

.more-btn a {
  font-family: "Viga";
  display: block;
  font-size: clamp(1rem, 0.556rem + 0.93vw, 1.25rem);
  font-weight: bold;
  border: 1px solid #222222;
  max-width: clamp(17.313rem, 8.646rem + 18.06vw, 22.188rem);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: clamp(1.438rem, 1.283rem + 0.66vw, 1.875rem) 0;
  position: relative;
  transition: all 0.3s;
  line-height: 1;
}
.more-btn a:hover {
  background-color: #222222;
  color: #FFF;
}
.more-btn a:hover::after {
  border-top: solid 4px #fff;
  border-right: solid 4px #fff;
}
.more-btn a::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 4px #222222;
  border-right: solid 4px #222222;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 24px;
  bottom: 50%;
  margin: auto;
  transition: all 0.3s;
}

.arrow {
  position: absolute;
  top: -21px;
  left: -72px;
  background-color: #fff;
  border: #222222 solid 1px;
  padding: 27px 20px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  .arrow {
    top: -18px;
  }
}
.arrow:hover {
  transform: scale(1.2);
}
.arrow span {
  display: block;
  width: 16px;
  height: 2px;
  background: #222222;
  position: relative;
}
.arrow span::before, .arrow span::after {
  position: absolute;
  content: "";
  right: 1px;
  width: 2px;
  height: 10px;
  background: #222222;
  border-radius: 4px;
  transform: translateY(-50%);
}
.arrow span::before {
  top: -1px;
  transform: rotate(45deg);
}
.arrow span::after {
  bottom: -1px;
  transform: rotate(-45deg);
}

.c-breadcrumbs {
  background-color: #f0f0f0;
  color: #222222;
  padding-left: clamp(1.25rem, -22.306rem + 49.07vw, 14.5rem);
  padding: 20px 0 20px 16.1111111111%;
  font-size: 0.875rem;
}
@media screen and (max-width: 1200px) {
  .c-breadcrumbs {
    padding-left: 5.3333333333%;
    line-height: 1.5;
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-out;
}
.fade-in-up.active {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-up.active .text-delay {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.5s ease-out;
}
.fade-in-up.active .text-delay.delay-1 {
  transition-delay: 0.2s;
}
.fade-in-up.active .text-delay.delay-2 {
  transition-delay: 0.6s;
}
.fade-in-up.active .text-delay.delay-3 {
  transition-delay: 1s;
}
.fade-in-up.active .text-delay.delay-4 {
  transition-delay: 1.4s;
}
.fade-in-up .text-delay {
  opacity: 0;
  transform: translateY(20px);
}

/************************
    header
**************************/
.header__bar {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 26px 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  top: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
  .header__bar {
    padding: 8px 12px;
  }
}

.header.top-scrolled {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  animation: slideDown 0.6s ease-in-out;
}
.header.top-scrolled .header__bar {
  background-color: #fff;
  padding: clamp(0.5rem, -1.722rem + 4.63vw, 1.75rem) clamp(0.75rem, -1.25rem + 4.17vw, 1.875rem);
}
.header.top-scrolled .header__bar.active {
  background-color: #FAF7F1;
}
.header.top-scrolled .menu-trigger span {
  background-color: #222222;
}
.header.top-scrolled .menu-trigger::after {
  color: #222222;
}
.header.top-scrolled .header__logo a {
  transition: all 0.3s;
}
.header.top-scrolled .header__logo a:hover {
  opacity: 0.6;
}
.header.top-scrolled .main-logo {
  display: none;
}
.header.top-scrolled .scrolled-logo {
  display: block;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header__bar.active {
  background-color: #FAF7F1;
  padding: 28px 30px;
}
@media screen and (max-width: 768px) {
  .header__bar.active {
    padding: 8px 12px;
  }
}
.header__bar.active .main-logo {
  display: none;
}
.header__bar.active .scrolled-logo {
  display: block;
}
@media screen and (max-width: 768px) {
  .header__bar.active .scrolled-logo {
    max-width: 150px;
  }
}

.header.scrolled .header__bar {
  padding: 28px 30px;
}
.header.scrolled .menu-trigger span {
  background-color: #222222;
}
.header.scrolled .menu-trigger::after {
  color: #222222;
}

.scrolled-logo {
  display: none;
}

.header__logo {
  max-width: 250px;
  width: 100%;
}
.header__logo a {
  transition: all 0.3s;
}
.header__logo a:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 150px;
  }
}

.header__link {
  display: flex;
}
.header__link a {
  display: block;
  color: #fff;
  width: 126px;
  padding: 14px 0;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
}
.header__link .details-btn {
  background-color: #222222;
  border: 1px solid #222222;
  transition: all 0.3s;
}
.header__link .details-btn:hover {
  background-color: #fff;
  color: #222222;
}
.header__link .entry-btn {
  background-color: #AFA86F;
  transition: all 0.3s;
}
.header__link .entry-btn:hover {
  background-color: #988C2C;
}

.header__bar-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 122px;
  gap: 22px;
}
@media screen and (max-width: 768px) {
  .header__bar-btn {
    display: none;
  }
}

.menu-trigger {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  position: relative;
  width: 52px;
  height: 61px;
  cursor: pointer;
  z-index: 998;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .menu-trigger {
    width: 32px;
    height: 39px;
  }
}
.menu-trigger::after {
  content: "MENU";
  font-family: "Viga";
  font-size: 0.75rem;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .menu-trigger::after {
    font-size: 0.625rem;
  }
}
.menu-trigger span {
  display: block;
  position: absolute;
  width: 52px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .menu-trigger span {
    width: 32px;
  }
}
.menu-trigger span:nth-of-type(1) {
  top: 7px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  .menu-trigger span:nth-of-type(1) {
    top: 1px;
  }
}
.menu-trigger span:nth-of-type(2) {
  top: 22px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  .menu-trigger span:nth-of-type(2) {
    top: 11px;
  }
}
.menu-trigger span:nth-of-type(3) {
  top: 37px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  .menu-trigger span:nth-of-type(3) {
    top: 20px;
  }
}

.menu-trigger.active::after {
  display: none;
}
.menu-trigger.active span {
  background-color: #222222;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-315deg);
  transform: translateY(15px) translateX(8px) rotate(-315deg);
}
@media screen and (max-width: 768px) {
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(13px) translateX(5px) rotate(-315deg);
  }
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-15px) translateX(8px) rotate(315deg);
}
@media screen and (max-width: 768px) {
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-6px) translateX(5px) rotate(315deg);
  }
}

body.active {
  overflow: hidden;
}

/* menu open */
.hamburger__menu {
  display: none;
  margin-top: 0;
  background-color: #FAF7F1;
  height: 100vh;
  align-items: center;
  position: relative;
  top: 0px;
  z-index: 5;
  padding: 0 20px;
}

.hamburger__inner {
  overflow-y: auto;
  display: flex;
  width: 100%;
  padding-top: 90px;
}
@media screen and (max-width: 768px) {
  .hamburger__inner {
    display: block;
    padding-top: 35px;
  }
}

.hamburger__menu.active {
  display: block;
}
@media screen and (max-width: 768px) {
  .hamburger__menu.active {
    padding: 0 12px;
  }
}

.hamburger__logo {
  width: 50%;
  position: relative;
  border-right: 1px solid #AFA86F;
}
@media screen and (max-width: 768px) {
  .hamburger__logo {
    display: none;
  }
}
.hamburger__logo a {
  transition: all 0.3s;
}
.hamburger__logo a:hover {
  opacity: 0.6;
}

.hamburger__logo-img {
  max-width: 250px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 8.75%;
  transform: translateY(-50%);
}

.hamburger__nav {
  width: 50%;
  position: relative;
  padding-left: 63px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .hamburger__nav {
    padding-left: 0;
    width: 100%;
  }
}
.hamburger__nav a {
  display: inline-block;
}
.hamburger__nav .flex-box {
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .hamburger__nav .flex-box {
    display: block;
    border-bottom: 1px #AFA86F solid;
  }
}

.hamburger-item {
  max-width: 248px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hamburger-item {
    max-width: 796px;
    width: 100%;
  }
}
.hamburger-item a {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Viga";
  width: 100%;
  border-top: 1px #AFA86F solid;
  padding: 21px 0;
  line-height: 0.99;
  transition: all 0.3s;
}
.hamburger-item a:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .hamburger-item a {
    padding: 12px 0;
    font-size: 1.125rem;
  }
}
.hamburger-item a span {
  font-family: none;
  font-size: 1rem;
  margin-top: 11px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .hamburger-item a span {
    font-size: 0.75rem;
    margin-top: 9.5px;
  }
}

.hamburger-item a:nth-of-type(3) {
  border-bottom: 1px solid #AFA86F;
}
@media screen and (max-width: 768px) {
  .hamburger-item a:nth-of-type(3) {
    border-bottom: none;
  }
}

.hamburger__link {
  margin-top: 45px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .hamburger__link {
    margin-top: 50px;
    flex-direction: column;
    gap: 13px;
  }
}
.hamburger__link a {
  width: 248px;
}

/************************
    top
**************************/
.top-fv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.fv__img-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fv-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}

.fv-img.active {
  opacity: 1;
  z-index: 2;
}

.top-fv__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-fv__textarea {
  position: absolute;
  top: 34.7509113001%;
  z-index: 4;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .top-fv__textarea {
    top: 62.0689655172%;
  }
}

.top-fv__title {
  font-family: "Viga";
  font-size: clamp(3rem, -2.333rem + 11.11vw, 6rem);
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  position: absolute;
  left: clamp(0.75rem, -5.25rem + 12.5vw, 4.125rem);
}

.top-fv__text {
  margin-top: 318px;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  max-width: 419px;
  padding: 15px 0 15px 66px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .top-fv__text {
    font-size: 0.75rem;
    max-width: 208px;
    padding: 9px 12px;
    margin-top: 134px;
  }
}
.top-fv__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  border-right: 30px solid transparent;
  border-top: 54px solid #222222;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .top-fv__text::before {
    height: 30px;
    border-right: 15px solid transparent;
    border-top: 30px solid #222222;
  }
}

.fv__blog a {
  align-items: center;
  position: absolute;
  bottom: clamp(0.625rem, -2.486rem + 6.48vw, 2.375rem);
  left: clamp(0.75rem, -5.806rem + 13.66vw, 4.438rem);
  z-index: 4;
  width: 87.7083333333%;
  border: #222222 1px solid;
  border-radius: 50px;
  margin: 0 auto;
  background-color: #fff;
  color: #222222;
  gap: 7.1258907363%;
}
@media screen and (max-width: 768px) {
  .fv__blog a {
    width: 93.6%;
  }
}

.fv__blog-left {
  font-family: "Viga";
  background-color: #222222;
  color: #fff;
  font-size: clamp(0.625rem, -0.931rem + 3.24vw, 1.5rem);
  font-weight: bold;
  text-align: center;
  width: clamp(3.25rem, -11.639rem + 31.02vw, 11.625rem);
  padding: 19px 0;
  border-radius: 50px 0 0 50px;
}

.fv__blog-title {
  font-size: clamp(0.75rem, 0.306rem + 0.93vw, 1rem);
  padding: clamp(0.625rem, -0.819rem + 3.01vw, 1.438rem) 0;
  margin-right: 186px;
}
@media screen and (max-width: 768px) {
  .fv__blog-title {
    margin-right: 0;
  }
}

.fv__blog-btn {
  font-family: "Viga";
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
  padding: 24px 0;
  position: absolute;
  right: 63px;
}
.fv__blog-btn::before, .fv__blog-btn::after {
  position: absolute;
  content: "";
  right: -16px;
  width: 2px;
  height: 8px;
  background: #222222;
}
.fv__blog-btn::before {
  top: 29px;
  transform: rotate(45deg);
}
.fv__blog-btn::after {
  bottom: 29.5px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
  .fv__blog-btn {
    display: none;
  }
}

/************************
    about
**************************/
.top-about {
  margin-top: calc(100vh - 14px);
}
.top-about .swiper {
  height: 429px;
}
@media screen and (max-width: 768px) {
  .top-about .swiper {
    height: 261px;
  }
}

.swiper-slide-active .top-about__img {
  position: relative;
  z-index: 1;
  margin-top: 36px;
}
@media screen and (max-width: 768px) {
  .swiper-slide-active .top-about__img {
    margin-top: 27px;
  }
}

.top-about__img {
  display: block;
  width: 100%;
  height: 91.6083916084%;
  transition: margin-top 0.3s ease;
  border-radius: 60px;
}
@media screen and (max-width: 768px) {
  .top-about__img {
    max-height: 210px;
  }
}

.top-about__slogan {
  position: absolute;
  bottom: 2.0979020979%;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 5;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .top-about__slogan {
    bottom: 0;
  }
}
.top-about__slogan p {
  font-size: clamp(1.5rem, -0.278rem + 3.7vw, 2.5rem);
  background-color: #fff;
  padding: 10px 11px 14px;
  font-weight: bold;
  display: inline-block;
  text-wrap-mode: nowrap;
}
@media screen and (max-width: 768px) {
  .top-about__slogan p {
    padding: 12px 11px 4px;
  }
}
.top-about__slogan .slogan_02 {
  margin-top: 7px;
}
@media screen and (max-width: 768px) {
  .top-about__slogan .slogan_02 {
    margin-top: 8px;
  }
}

.top-about__textarea {
  margin-top: 100px;
  font-size: clamp(1.125rem, -0.875rem + 4.17vw, 2.25rem);
  line-height: 1.8;
  font-weight: bold;
  text-align: center;
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  .top-about__textarea {
    line-height: 2.5;
    margin-top: 52px;
  }
}

.top-about__text {
  padding-bottom: clamp(2.438rem, 2.151rem + 1.22vw, 3.25rem);
  background: url("./img/map.png") center/contain no-repeat;
}
.top-about__text p {
  margin-top: 52px;
}
@media screen and (max-width: 768px) {
  .top-about__text p {
    margin-top: 39px;
  }
}

/************************
    staff
**************************/
.top-staff {
  margin-top: clamp(4.438rem, -1.118rem + 11.57vw, 7.563rem);
}
.top-staff .top-title {
  max-width: clamp(19.875rem, -4.792rem + 51.39vw, 33.75rem);
  background: url("./img/member.png") center/100% no-repeat;
  margin-left: clamp(1.063rem, -5.493rem + 13.66vw, 4.75rem);
}
.top-staff .sabtitle {
  margin-left: clamp(0rem, -0.748rem + 3.19vw, 2.125rem);
}
.top-staff .swiper {
  height: 507px;
}
@media screen and (max-width: 1200px) {
  .top-staff .swiper {
    height: clamp(31.25rem, 24.028rem + 15.05vw, 35.313rem);
  }
}
@media screen and (max-width: 768px) {
  .top-staff .swiper {
    height: clamp(25.813rem, 4.861rem + 95.9vw, 49.875rem);
  }
}
.top-staff .swiper-slide:nth-child(2n) {
  position: relative;
  z-index: 1;
  margin-top: 36px;
}
@media screen and (max-width: 768px) {
  .top-staff .swiper-slide:nth-child(2n) {
    margin-top: 25px;
  }
}
.top-staff .top-staff__controls {
  position: relative;
  margin-top: clamp(2.5rem, -1.928rem + 9.24vw, 5rem);
  justify-content: center;
  padding-bottom: clamp(3.875rem, 1.875rem + 4.17vw, 5rem);
}
.top-staff .top-staff__controls .swiper-button-prev,
.top-staff .top-staff__controls .swiper-button-next {
  position: absolute;
  top: 35px;
  width: 58px;
  height: 58px;
  background-color: transparent;
  border: 1px solid #222222;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.top-staff .top-staff__controls .swiper-button-prev:hover,
.top-staff .top-staff__controls .swiper-button-next:hover {
  transform: scale(1.2);
}
.top-staff .top-staff__controls .swiper-button-prev::after,
.top-staff .top-staff__controls .swiper-button-next::after {
  display: none;
}
@media screen and (max-width: 768px) {
  .top-staff .top-staff__controls .swiper-button-prev,
  .top-staff .top-staff__controls .swiper-button-next {
    display: none;
  }
}
.top-staff .top-staff__controls .swiper-button-prev {
  left: 74.7916666667%;
}
.top-staff .top-staff__controls .swiper-button-prev span {
  display: block;
  width: 16px;
  height: 2px;
  background: #222222;
  position: relative;
}
.top-staff .top-staff__controls .swiper-button-prev span::before, .top-staff .top-staff__controls .swiper-button-prev span::after {
  position: absolute;
  content: "";
  left: 1px;
  width: 2px;
  height: 10px;
  background: #222222;
  border-radius: 4px;
  transform: translateY(-50%);
}
.top-staff .top-staff__controls .swiper-button-prev span::before {
  top: -1px;
  transform: rotate(-45deg);
}
.top-staff .top-staff__controls .swiper-button-prev span::after {
  bottom: -1px;
  transform: rotate(45deg);
}
.top-staff .top-staff__controls .swiper-button-next {
  left: 80.2083333333%;
}
@media screen and (max-width: 1200px) {
  .top-staff .top-staff__controls .swiper-button-next {
    left: 85%;
  }
}
.top-staff .top-staff__controls .swiper-button-next span {
  display: block;
  width: 16px;
  height: 2px;
  background: #222222;
  position: relative;
}
.top-staff .top-staff__controls .swiper-button-next span::before, .top-staff .top-staff__controls .swiper-button-next span::after {
  position: absolute;
  content: "";
  right: 1px;
  width: 2px;
  height: 10px;
  background: #222222;
  border-radius: 4px;
  transform: translateY(-50%);
}
.top-staff .top-staff__controls .swiper-button-next span::before {
  top: -1px;
  transform: rotate(45deg);
}
.top-staff .top-staff__controls .swiper-button-next span::after {
  bottom: -1px;
  transform: rotate(-45deg);
}
.top-staff .top-staff__controls .top-staff__btn a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.top-staff__img {
  display: block;
  width: 100%;
  height: auto;
  transition: margin-top 0.3s ease;
  border-radius: 30px;
}

.staff__swiper {
  margin-top: clamp(3.125rem, 2.903rem + 0.46vw, 3.25rem);
  margin-left: clamp(1.625rem, -22.375rem + 50vw, 15.125rem);
}

.top-staff__img-wrap {
  position: relative;
}

.top-staff__message .msg1 {
  position: absolute;
  bottom: 18px;
}
.top-staff__message .msg2 {
  position: absolute;
  bottom: -18px;
}
.top-staff__message p {
  display: inline-block;
  font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
  font-weight: bold;
  background-color: #AFA86F;
  padding: 5.5px 7px;
  margin-top: 6px;
  text-wrap-mode: nowrap;
}
@media screen and (max-width: 768px) {
  .top-staff__message p {
    padding: 7px;
  }
}

.top-staff__meta {
  position: absolute;
  bottom: -90px;
  font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
}
.top-staff__meta p {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .top-staff__meta {
    bottom: -77px;
  }
}

.top-staff__name {
  margin-top: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
  font-size: clamp(1.25rem, 1.162rem + 0.38vw, 1.5rem);
}

/************************
    benefits
**************************/
.top-benefits {
  padding-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .top-benefits {
    padding-bottom: 108px;
  }
}
.top-benefits .top-title {
  max-width: clamp(21.125rem, -5.097rem + 54.63vw, 35.875rem);
  background: url("./img/benefits.png") center/100% no-repeat;
  margin: 108px auto 0px;
}
@media screen and (max-width: 768px) {
  .top-benefits .top-title {
    margin: 71px 0 0;
  }
}
.top-benefits .top-title .main-title {
  max-width: 416px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .top-benefits .top-title .main-title {
    text-align: left;
    left: 170px;
  }
}
.top-benefits .sabtitle {
  margin-left: clamp(0rem, -3.719rem + 15.87vw, 10.563rem);
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .top-benefits .sabtitle {
    line-height: 1.5;
    margin-top: 19px;
  }
}
.top-benefits .grid-box {
  margin-top: clamp(3.188rem, 1.801rem + 5.92vw, 7.125rem);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 9.4949494949%;
  padding: 0 35px;
}
@media screen and (max-width: 1200px) {
  .top-benefits .grid-box {
    grid-template-columns: 1fr;
    gap: 144px;
    padding: 0;
  }
}

.top-benefits__item {
  max-width: 430px;
  width: 100%;
  position: relative;
  background-color: #FAF7F1;
  border-radius: 50%;
  padding-bottom: 430px;
}
@media screen and (max-width: 1200px) {
  .top-benefits__item {
    margin: 0 auto;
    max-width: clamp(15.688rem, 8.614rem + 30.18vw, 31.25rem);
    padding-bottom: clamp(15.688rem, 8.614rem + 30.18vw, 31.25rem);
  }
}

.top-benefits__img .link-name-e {
  writing-mode: vertical-rl;
  font-family: "Viga";
  font-weight: bold;
  letter-spacing: clamp(0.131rem, 0.098rem + 0.14vw, 0.225rem);
  position: absolute;
  top: 0;
  right: clamp(0.813rem, 0.035rem + 1.62vw, 1.25rem);
  font-size: clamp(0.875rem, -0.236rem + 2.31vw, 1.5rem);
}
.top-benefits__img img {
  max-width: clamp(12.125rem, -2.653rem + 30.79vw, 20.438rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits__img02 img {
  max-width: clamp(12.625rem, -3.153rem + 32.87vw, 21.5rem);
}

.link-name-j {
  position: absolute;
  bottom: clamp(-0.938rem, -3.604rem + 5.56vw, 0.563rem);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: clamp(1.5rem, 0.611rem + 1.85vw, 2rem);
  font-weight: bold;
  background-color: #AFA86F;
  padding: 5px 7px;
}

.link-text {
  position: absolute;
  left: 0;
  bottom: clamp(-6.75rem, -10.417rem + 7.64vw, -4.688rem);
  line-height: 1.5;
  width: clamp(21.313rem, 11.424rem + 24.6vw, 26.875rem);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .link-text {
    left: -45px;
  }
}

.top-benefits__link .arrow {
  background-color: #222222;
  top: clamp(10.625rem, 6.761rem + 16.48vw, 19.125rem);
  left: clamp(12.25rem, 7.818rem + 18.91vw, 22rem);
  padding: clamp(1.313rem, 0.646rem + 1.39vw, 1.688rem) clamp(0.813rem, -0.076rem + 1.85vw, 1.313rem);
}
.top-benefits__link .arrow span {
  background: #fff;
}
.top-benefits__link .arrow span::before, .top-benefits__link .arrow span::after {
  background: #fff;
}
.top-benefits__link .arrow:hover {
  transform: scale(1.2) translateX(15px);
}

/************************
    blog
**************************/
.top-blog {
  background-color: #FAF7F1;
  padding: 45px 0 125px;
  margin-top: clamp(4.875rem, 1.653rem + 6.71vw, 6.688rem);
}
.top-blog .section__wrapper {
  box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  .top-blog .section__wrapper {
    margin: 0;
    max-width: 734px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .top-blog {
    padding: 54px 0 176px;
    position: relative;
  }
}
.top-blog .top-title {
  max-width: clamp(13.063rem, -3.16rem + 33.8vw, 22.188rem);
  width: 100%;
  background: url("./img/blog.png") center/100% no-repeat;
  margin-left: -13px;
}
@media screen and (max-width: 768px) {
  .top-blog .top-title {
    margin-left: 17px;
  }
}
.top-blog .top-title .main-title {
  max-width: clamp(10rem, -1.111rem + 23.5vw, 16.25rem);
  width: 100%;
}
.top-blog .sabtitle {
  margin-left: 34px;
  margin-top: 31px;
}
@media screen and (max-width: 768px) {
  .top-blog .sabtitle {
    margin-top: 19px;
    margin-left: 0;
  }
}
.top-blog .section__title .flex-box {
  justify-content: space-between;
  align-items: center;
  margin-right: 54px;
}

.top-blog__btn {
  font-weight: bold;
  bottom: 66px;
}
@media screen and (max-width: 768px) {
  .top-blog__btn {
    position: absolute;
    left: 90px;
    bottom: 87px;
  }
}
.top-blog__btn a {
  font-family: "Viga";
  text-decoration: underline;
  text-underline-offset: 2px;
  position: relative;
  color: #222222;
}

.top-blog__content {
  margin: 58px 34px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: clamp(7.563rem, 1.007rem + 13.66vw, 11.25rem);
  gap: 23px 52px;
}
@media screen and (max-width: 1200px) {
  .top-blog__content {
    grid-template-columns: 1fr;
    gap: 9px;
  }
}
@media screen and (max-width: 768px) {
  .top-blog__content {
    margin: 43px 0 0;
  }
}

.top-blog__item {
  border-radius: 10px;
  background-color: #fff;
}

.top-blog__img img {
  max-width: clamp(7.563rem, 3.674rem + 8.1vw, 9.75rem);
  height: clamp(7.563rem, 1.007rem + 13.66vw, 11.25rem);
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 768px) {
  .top-blog__img img {
    width: 121px;
  }
}

.top-blog__text {
  padding: clamp(0.563rem, -0.66rem + 2.55vw, 1.25rem) clamp(0.438rem, -1.34rem + 3.7vw, 1.438rem) clamp(0.313rem, -1.354rem + 3.47vw, 1.25rem) clamp(1.125rem, 0.569rem + 1.16vw, 1.438rem);
  max-width: 250px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .top-blog__text {
    max-width: 600px;
  }
}

.top-blog__category {
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 0.875rem);
  display: flex;
  gap: 4px;
}
.top-blog__category img {
  width: 14px;
  height: 14px;
}

.top-blog__title {
  font-size: clamp(0.875rem, 0.431rem + 0.93vw, 1.125rem);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  margin-top: clamp(0.563rem, -0.993rem + 3.24vw, 1.438rem);
  line-height: 1.5;
}

.top-blog__date {
  font-size: 0.75rem;
  position: absolute;
  bottom: clamp(0.313rem, -1.688rem + 4.17vw, 1.438rem);
}

/************************
    recruit
**************************/
.top-recruit {
  background-color: #FAF7F1;
  padding: 0 17px clamp(5.5rem, 4.378rem + 4.79vw, 8.688rem);
  overflow-x: hidden;
}
.top-recruit .top-title {
  max-width: 896px;
  background: url("./img/recruitment.png") center/100% no-repeat;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .top-recruit .top-title {
    width: 528px;
    margin: 0;
  }
}
.top-recruit .sabtitle {
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 1200px) {
  .top-recruit .sabtitle {
    line-height: 1.5;
  }
}
@media screen and (max-width: 768px) {
  .top-recruit .sabtitle {
    text-align: left;
  }
}
.top-recruit .top-recruit__btn {
  max-width: 956px;
  margin: clamp(1.75rem, 0.958rem + 3.38vw, 4rem) auto 0;
}
.top-recruit .top-recruit__btn .flex-box {
  gap: 1.5625%;
}
.top-recruit .top-recruit__btn .flex-box a {
  max-width: 470px;
}
@media screen and (max-width: 768px) {
  .top-recruit .top-recruit__btn .flex-box a {
    max-width: 734px;
  }
}
@media screen and (max-width: 768px) {
  .top-recruit .top-recruit__btn .flex-box {
    flex-direction: column;
    gap: 19px;
  }
}
.top-recruit .top-recruit__btn a {
  background-color: #fff;
  border: none;
  padding: clamp(2.063rem, 0.174rem + 3.94vw, 3.125rem) 0;
  font-size: 1.25rem;
}
.top-recruit .top-recruit__btn a:hover {
  background-color: #222222;
}
.top-recruit .recruit-item3 a {
  margin-top: clamp(1.188rem, 0.965rem + 0.46vw, 1.313rem);
  max-width: 956px;
  width: 100%;
}

/************************
    archive-staff
**************************/
.staff__wrapper {
  margin: 130px auto 0;
  padding: 0 19px 139px;
}
@media screen and (max-width: 768px) {
  .staff__wrapper {
    padding-bottom: 150px;
  }
}

.staff__inner {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 48px 43px;
  /* 縦 横 */
  padding: 0 19px 90px;
}

.staff__item {
  position: relative;
  padding-bottom: 90px;
  transition: transform 0.3s ease;
}
.staff__item:hover {
  transform: scale(1.1);
}

/************************
    staff-detail
**************************/
.staff-fv {
  background-color: #FAF7F1;
}

.staff-detail {
  padding: 43px 24px;
  gap: 8.30078125%;
  justify-content: space-between;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .staff-detail {
    padding: 35px 17px;
    margin: 0 auto;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.staff-detail__messages p {
  padding: 3px 10px;
  background-color: #fff;
  display: inline-block;
}
.staff-detail__messages .msg_1 {
  font-size: clamp(1.5rem, 1.236rem + 1.13vw, 2.25rem);
}
.staff-detail__messages .msg_2 {
  font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
  margin-top: 18px;
}

.staff-detail__info {
  padding: 34px 0 38px;
}
.staff-detail__info .staff-detail__job {
  margin-top: 30px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #988C2C;
}
.staff-detail__info .flex-box {
  gap: 20px;
  margin-top: 12px;
  align-items: baseline;
}
.staff-detail__info .flex-box .staff-detail__name {
  font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
  font-weight: bold;
}
.staff-detail__info .flex-box .staff-detail__day {
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
}
.staff-detail__info .staff-profile {
  margin-top: 13px;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 1.8;
}

.staff-detail__img {
  max-width: 286px;
  width: 100%;
  height: 100%;
}
.staff-detail__img .staff_img {
  border-radius: 0;
}

.staff-main {
  margin-top: 101px;
  gap: 56px;
  align-items: start;
}
@media screen and (max-width: 1200px) {
  .staff-main {
    max-width: 100%;
    box-sizing: border-box;
  }
}
.staff-main .staff-content {
  max-width: 696px;
  padding: 0 7px 0 24px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .staff-main .staff-content {
    max-width: 100%;
    padding: 0;
  }
}
.staff-main .staff-content h2 {
  position: relative;
  margin-top: 25px;
  font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
}
.staff-main .staff-content h2:first-of-type {
  margin-top: 0;
}
.staff-main .staff-content h2::before {
  content: "";
  max-width: 216px;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #222222;
  left: -234px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .staff-main .staff-content h2::before {
    display: none;
  }
}
.staff-main .staff-content p {
  margin-top: 50px;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 1.8;
  width: 100%;
}
.staff-main .staff-content span {
  font-weight: bold;
}
.staff-main .staff-content ul {
  margin-top: 23px;
}
.staff-main .staff-content li {
  margin-top: 30px;
}
.staff-main .staff-content li + li {
  margin-top: 35px;
}
.staff-main .staff-content li p {
  margin-top: 35px;
}

.sidebar {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  position: sticky;
  top: 118px;
}
.sidebar h2 {
  padding-left: 8px;
  position: relative;
}
.sidebar h2[id] {
  scroll-margin-top: 118px;
  padding-top: 0.1px;
}
.sidebar li {
  margin-top: 13px;
}
.sidebar li + li {
  margin-top: 16px;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

.sidebar-toc a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  color: #999999;
  transition: all 0.3s;
}
.sidebar-toc a::before {
  content: "・";
  font-size: 0.875rem;
  position: absolute;
  left: 8px;
}
.sidebar-toc a.active {
  color: #222222;
}

.other-staff {
  margin-top: 107px;
}
.other-staff h2 {
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
  line-height: 1.8;
  text-align: center;
}
.other-staff .grid-box {
  max-width: 1024px;
  width: 100%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 48px 43px;
  /* 縦 横 */
  padding: 0 19px 139px;
  box-sizing: border-box;
}

/************************
    blog
**************************/
.blog {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.blog__content {
  margin: 130px 34px 98px;
}
@media screen and (max-width: 768px) {
  .blog__content {
    margin: 90px 0 55px;
  }
}

.blog__item {
  background-color: #FAF7F1;
}

.pagination {
  margin-bottom: 139px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pagination {
    margin-bottom: 80px;
  }
}
.pagination .page-numbers {
  display: inline-block;
  font-size: 0.875rem;
  padding: 22px 25px;
  border: 1px solid #222222;
  border-radius: 50%;
  color: #222222;
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.3s;
}
.pagination .page-numbers.current {
  background: #222222;
  color: #fff;
}
.pagination .page-numbers:not(.next):not(.prev):not(.current) {
  display: none;
}

/************************
    blog-detail
**************************/
.blog__post {
  background-color: #FAF7F1;
}

.blog-detail {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  margin: 34px auto 0;
  border-radius: 10px;
  padding: 41px 40px 23px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .blog-detail {
    margin-top: 50px;
    padding: 40px 17px;
  }
}
.blog-detail .flex-box {
  gap: 19px;
}
.blog-detail .blog__date {
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 0.875rem);
}
.blog-detail h2 {
  margin-top: 25px;
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
}
@media screen and (max-width: 768px) {
  .blog-detail h2 {
    line-height: 1.5;
  }
}

.blog__img {
  margin-top: 41px;
}

.blog__text h2 {
  font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
}
.blog__text p {
  margin-top: 50px;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  line-height: 1.8;
}
.blog__text p:first-of-type {
  margin-top: 45px;
}
.blog__text ul {
  margin-top: 50px;
  line-height: 1.8;
}
.blog__text li {
  position: relative;
  padding-left: 25px;
}
.blog__text li::before {
  content: "・";
  font-size: 0.875rem;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.blog-navigation {
  background-color: #F0F0F0;
  margin-top: 139px;
}

.blog-navigation__inner {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}
.blog-navigation__inner::after {
  content: "";
  width: 56px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(-90deg);
  background-color: #222222;
}

.blog-navigation__prev a,
.blog-navigation__next a {
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  position: relative;
  display: block;
  width: 100%;
  line-height: 1;
  box-sizing: border-box;
  max-width: clamp(20rem, 6.286rem + 28.57vw, 32rem);
  display: flex;
  flex-direction: column;
}
.blog-navigation__prev .arrow,
.blog-navigation__next .arrow {
  top: 50%;
  transform: translateY(-50%);
  padding: 11px;
  background-color: #F0F0f0;
}
.blog-navigation__prev .arrow::before, .blog-navigation__prev .arrow::after,
.blog-navigation__next .arrow::before,
.blog-navigation__next .arrow::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 8px;
  background: #4b4b4b;
}
.blog-navigation__prev .arrow::before,
.blog-navigation__next .arrow::before {
  top: 5px;
}
.blog-navigation__prev .arrow::after,
.blog-navigation__next .arrow::after {
  bottom: 5px;
}

.blog-navigation__prev a {
  padding: 31px 15px 31px 95px;
  text-align: left;
}
.blog-navigation__prev .arrow {
  left: 50px;
}
.blog-navigation__prev .arrow::before, .blog-navigation__prev .arrow::after {
  left: 40%;
}
.blog-navigation__prev .arrow::before {
  transform: rotate(45deg);
}
.blog-navigation__prev .arrow::after {
  transform: rotate(-45deg);
}

.blog-navigation__next a {
  padding: 31px 95px 31px 15px;
  text-align: right;
}
.blog-navigation__next .arrow {
  right: 50px;
  left: revert;
}
.blog-navigation__next .arrow::before, .blog-navigation__next .arrow::after {
  right: 40%;
}
.blog-navigation__next .arrow::before {
  transform: rotate(-45deg);
}
.blog-navigation__next .arrow::after {
  transform: rotate(45deg);
}

.nav-label {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-label {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .post-title {
    display: none;
  }
}

.post-date {
  text-align: left;
  font-size: 0.75rem;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .post-date {
    display: none;
  }
}

/************************
    footer
**************************/
.footer {
  padding-bottom: 506px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 709px;
    text-align: center;
    background-color: #FAF7F1;
  }
}

.footer__upper {
  position: relative;
  background: url(./img/cta\ 1.jpg) center/cover no-repeat;
  padding-bottom: clamp(15.625rem, -10.855rem + 55.17vw, 30.52rem);
}

.footer__entry-box {
  max-width: clamp(21.438rem, 7.947rem + 57.56vw, 59.75rem);
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: clamp(8.25rem, -16.194rem + 50.93vw, 22rem);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: clamp(1.5rem, -1.389rem + 6.02vw, 3.125rem) 0;
  border-radius: 20px;
  z-index: 5;
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
}

.footer__entry-text {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .footer__entry-text {
    line-height: 2.5;
  }
}

.footer__entry-btn a {
  max-width: clamp(12.5rem, 4.665rem + 33.43vw, 34.75rem);
  padding: clamp(1.25rem, 0.472rem + 1.62vw, 1.688rem) 0;
  background-color: #AFA86F;
  border: none;
  margin-top: clamp(1.5rem, 0.722rem + 1.62vw, 1.938rem);
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
}

.footer__main {
  position: absolute;
  top: clamp(15.625rem, -10.855rem + 55.17vw, 30.52rem);
  left: 50%;
  transform: translateX(-50%);
  max-width: 91.1111111111%;
  width: 100%;
  background-color: #FAF7F1;
  border-radius: 0 0 20px 20px;
  padding: 0 20px 61px;
}
@media screen and (max-width: 768px) {
  .footer__main {
    padding-bottom: 85px;
  }
}
.footer__main a {
  transition: transform 0.3s ease;
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
}
.footer__main a:hover {
  opacity: 0.6;
}

.footer__inner {
  margin: clamp(10.563rem, 7.34rem + 6.71vw, 12.375rem) auto 0;
  max-width: 956px;
  gap: 11.4016736402%;
}
@media screen and (max-width: 768px) {
  .footer__inner {
    max-width: 768px;
    flex-direction: column-reverse;
    gap: 108px;
  }
}

.footer__logo a {
  display: inline-block;
}
.footer__logo img {
  max-width: 250px;
}

.footer__item {
  display: flex;
  gap: 22px;
  font-weight: bold;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer__item {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__item-upper {
  margin-top: clamp(0rem, -0.55rem + 2.35vw, 1.563rem);
}

.footer__item-lower {
  margin-top: 41px;
}
@media screen and (max-width: 768px) {
  .footer__item-lower {
    margin-top: 20px;
  }
}

.footer__sns-box {
  max-width: 956px;
  margin: 0 auto;
  margin-top: 61px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__sns-box {
    flex-direction: column-reverse;
    gap: 139px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.copyright {
  font-size: 0.75rem;
  font-family: "Viga";
  color: #999999;
  text-wrap-mode: nowrap;
  margin-left: 5px;
}

.sns-list {
  gap: 16px;
}
.sns-list .sns-item {
  max-width: 24px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */