@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/**********************
    setting
***********************/
/************************
    common
**************************/
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}

.section__wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 200px 50px 100px;
  grid-template-rows: 100px 30px;
}

.flex-box {
  display: flex;
}

.grid-box {
  display: grid;
}

.top-title {
  position: relative;
  padding-bottom: 136px;
}
.top-title .main-title {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3.25rem;
}
.top-title .main-title span {
  border-bottom: 2px #222222 solid;
}

.sabtitle {
  line-height: 1.5;
  margin-top: 10px;
}

.more-btn a {
  font-family: "Viga";
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #222222;
  max-width: 355px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  transition: all 0.3s;
}
.more-btn a:hover {
  background-color: #222222;
  color: #FFF;
}
.more-btn a:hover::after {
  border-top: solid 4px #fff;
  border-right: solid 4px #fff;
}
.more-btn a::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 4px #222222;
  border-right: solid 4px #222222;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 20px;
  bottom: 50%;
  margin: auto;
  transition: all 0.3s;
}

.arrow {
  position: absolute;
  top: -21px;
  left: -71px;
  background-color: #fff;
  border: #222222 solid 1px;
  padding: 27px 20px;
  border-radius: 50%;
}
.arrow span {
  display: block;
  width: 16px;
  height: 2px;
  background: #222222;
  position: relative;
}
.arrow span::before, .arrow span::after {
  position: absolute;
  content: "";
  right: 1px;
  width: 2px;
  height: 10px;
  background: #222222;
  border-radius: 4px;
  transform: translateY(-50%);
}
.arrow span::before {
  top: -1px;
  transform: rotate(45deg);
}
.arrow span::after {
  bottom: -1px;
  transform: rotate(-45deg);
}

/************************
    header
**************************/
/************************
    top
**************************/
/************************
    about
**************************/
.top-about__inner {
  margin-top: 101px;
}

.swiper-slide-active .top-about__img {
  position: relative;
  z-index: 1;
}

.top-about__img {
  display: block;
  width: 100%;
  height: auto;
  transition: margin-top 0.3s ease;
}

.top-about__slogan {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  text-align: center;
}
.top-about__slogan p {
  font-size: 2.5rem;
  background-color: #fff;
  padding: 7px 11px 17px;
  font-weight: bold;
  display: inline-block;
}
.top-about__slogan .slogan_02 {
  margin-top: 7px;
}

.top-about__textarea {
  margin-top: 48px;
  font-size: 2.25rem;
  line-height: 1.8;
  font-weight: bold;
  text-align: center;
}

.top-about__text {
  padding-bottom: 52px;
  background: url("./img/map.png") center/contain no-repeat;
}
.top-about__text p {
  margin-top: 52px;
}

/************************
    staff
**************************/
.top-staff {
  margin-top: 121px;
  /* 前へ次への矢印カスタマイズ */
  /* 前へ次への矢印カスタマイズ */
  /* 前への矢印カスタマイズ */
  /* 次への矢印カスタマイズ */
  /* 画像サイズ調整 */
}
.top-staff .top-title {
  max-width: 540px;
  background: url("./img/member.png") center/100% no-repeat;
  margin-left: 76px;
}
.top-staff .top-title .main-title {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3.25rem;
}
.top-staff .sabtitle {
  margin-left: 34px;
}
.top-staff .swiper-button-prev,
.top-staff .swiper-button-next {
  height: 50px;
  width: 50px;
}
.top-staff .swiper-button-prev::after,
.top-staff .swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
}
.top-staff .swiper-button-prev::after {
  background-image: url(https://junpei-sugiyama.com/wp-content/uploads/2021/02/e0379d76f3f78d80011fc748c93b6cbe.png);
}
.top-staff .swiper-button-next::after {
  background-image: url(https://junpei-sugiyama.com/wp-content/uploads/2021/02/e1bdcdb129887882c13aaf571f555b16.png);
}
.top-staff .swiper-slide img {
  height: auto;
  width: 100%;
}

.staff__swiper {
  margin-top: 52px;
  margin-left: 242px;
  padding-bottom: 170px;
}

.top-staff__img-wrap {
  position: relative;
}

.top-staff__message {
  position: absolute;
  top: 331px;
}
.top-staff__message p {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #AFA86F;
  padding: 5px 7px;
  margin-top: 6px;
}

.top-staff__meta {
  position: absolute;
  top: 413px;
}
.top-staff__meta p {
  font-weight: bold;
}

.top-staff__name {
  margin-top: 16px;
  font-size: 1.5rem;
}

/************************
    benefits
**************************/
.top-benefits {
  padding-bottom: 182px;
}
.top-benefits .top-title {
  max-width: 574px;
  background: url("./img/benefits.png") center/100% no-repeat;
  margin: 108px auto 0px;
}
.top-benefits .top-title .main-title {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3.25rem;
  max-width: 416px;
  width: 100%;
}
.top-benefits .sabtitle {
  text-align: center;
}
.top-benefits .flex-box {
  gap: 9.1796875%;
  margin-top: 114px;
}

.top-benefits__item {
  max-width: 430px;
  width: 100%;
  position: relative;
  background-color: #FAF7F1;
  border-radius: 50%;
  padding-bottom: 430px;
}

.top-benefits__img .link-name-e {
  writing-mode: vertical-rl;
  font-family: "Viga";
  font-weight: bold;
  letter-spacing: 0.15rem;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 1.5rem;
}
.top-benefits__img img {
  max-width: 327px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits__img02 img {
  max-width: 344px;
}

.link-name-j {
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 2rem;
  font-weight: bold;
  background-color: #AFA86F;
  padding: 5px 7px;
}

.link-text {
  position: absolute;
  bottom: -75px;
  line-height: 1.5;
}

.top-benefits__link .arrow {
  background-color: #222222;
  top: 306px;
  left: 352px;
}
.top-benefits__link .arrow span {
  background: #fff;
}
.top-benefits__link .arrow span::before, .top-benefits__link .arrow span::after {
  background: #fff;
}

/************************
    blog
**************************/
.top-blog {
  background-color: #FAF7F1;
  padding: 45px 0 80px;
}
.top-blog .top-title {
  max-width: 355px;
  width: 100%;
  background: url("./img/blog.png") center/100% no-repeat;
  margin-left: -13px;
}
.top-blog .top-title .main-title {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3.25rem;
  max-width: 260px;
  width: 100%;
}
.top-blog .sabtitle {
  margin-left: 34px;
}
.top-blog .section__title .flex-box {
  gap: 45.99609375%;
  align-items: center;
}

.top-blog__btn {
  font-weight: bold;
}
.top-blog__btn a {
  font-family: "Viga";
  text-decoration: underline;
  text-underline-offset: 3px;
  position: relative;
  color: #222222;
}

.top-blog__content {
  margin-top: 61px;
  display: grid;
  grid-template-columns: 452px 452px;
  grid-template-rows: 180px 180px;
  gap: 5.078125%;
}

.top-blog__item {
  border-radius: 10px;
  background-color: #fff;
}
.top-blog__item .flex-box {
  gap: 5.0884955752%;
}

.top-blog__img img {
  max-width: 156px;
  height: 180px;
  border-radius: 10px 0 0 10px;
}

.top-blog__text {
  padding: 20px 23px 20px 0;
  max-width: 250px;
  width: 100%;
  position: relative;
}

.top-blog__category {
  font-size: 0.875rem;
}

.top-blog__title {
  font-size: 1.125rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  margin-top: 23px;
  line-height: 1.5;
}

.top-blog__date {
  font-size: 0.75rem;
  position: absolute;
  bottom: 23px;
}

/************************
    recruit
**************************/
.top-recruit {
  background-color: #FAF7F1;
  padding: 45px 0 139px;
}
.top-recruit .top-title {
  max-width: 896px;
  background: url("./img/recruitment.png") center/100% no-repeat;
  margin: 0 auto;
}
.top-recruit .top-title .main-title {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3.25rem;
}
.top-recruit .sabtitle {
  text-align: center;
  margin-top: 10px;
}
.top-recruit .top-recruit__btn {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 470px 470px;
  gap: 5.078125%;
}
.top-recruit .top-recruit__btn a {
  max-width: 470px;
  background-color: #fff;
  border: none;
  padding: 50px 0;
}

/************************
    footer
**************************//*# sourceMappingURL=style.css.map */