@use '../base/_setting' as *;
/************************
    common
**************************/


body {
    font-family: $main-font , sans-serif;
    color: $main-color;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $main-color;
    cursor: pointer;
}

.section__wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 17px;

    @include sp {
        margin: 0;
        box-sizing: border-box;
    }
}

.flex-box {
    display: flex;
}

.grid-box {
    display: grid;
}

.top-title {
    position: relative;
    padding-bottom: clamp(5rem, -1.222rem + 12.96vw, 8.5rem);

    .main-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(2rem, -0.222rem + 4.63vw, 3.25rem);


        @include sp {
            left: 67px;
        }

        span {
            text-decoration: underline;
            text-underline-offset: 6px;

        }
    }
}

.sabtitle {
    line-height: 1.5;
    margin-top: 10px;

    @include sp {
        margin-top: 19px;
    }
}

.more-btn {
    a {
        font-family: $sab-font;
        display: block;
        font-size: clamp(1rem, 0.556rem + 0.93vw, 1.25rem);
        font-weight: bold;
        border: 1px solid $main-color;
        max-width: clamp(17.313rem, 8.646rem + 18.06vw, 22.188rem);
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: clamp(1.438rem, 1.283rem + 0.66vw, 1.875rem) 0;
        position: relative;
        transition: all 0.3s;
        line-height: 1;


        &:hover {
            background-color: $main-color;
            color: #FFF;

            &::after {
                border-top: solid 4px #fff;
                border-right: solid 4px #fff;
            }
        }


        &::after {
            content: '';
            width: 10px;
            height: 10px;
            border: 0;
            border-top: solid 4px $main-color;
            border-right: solid 4px $main-color;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 24px;
            bottom: 50%;
            margin: auto;
            transition: all 0.3s;
        }
    }
}

.arrow {
    position: absolute;
    top: -21px;
    left: -72px;
    background-color: #fff;
    border: $main-color solid 1px;
    padding: 27px 20px;
    border-radius: 50%;
    transition: transform 0.3s ease;

    @include sp {
        top: -18px;
    }

    &:hover {
        transform: scale(1.2);
    }

    span {
        display: block;
        width: 16px;
        height: 2px;
        background: $main-color;
        position: relative;


        &::before,
        &::after {
            position: absolute;
            content: '';
            right: 1px;
            width: 2px;
            height: 10px;
            background: $main-color;
            border-radius: 4px;
            transform: translateY(-50%);
        }

        &::before {
            top: -1px;
            transform: rotate(45deg);
        }

        &::after {
            bottom: -1px;
            transform: rotate(-45deg);
        }
    }
}

.c-breadcrumbs {
    @include sp {
        line-height: 1.5;
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.0s ease-out;

    &.active {
        opacity: 1;
        transform: translateY(0);

        .text-delay {
            opacity: 1;
            transform: translateY(0);
            transition: all 1.5s ease-out;

            &.delay-1 {
                transition-delay: 0.2s;
            }

            &.delay-2 {
                transition-delay: 0.6s;
            }
        }
    }

    .text-delay {
        opacity: 0;
        transform: translateY(20px);
    }
}

.slide-in-up{}