@use '../base/_setting' as *;

/************************
    blog
**************************/

.blog__main {
    .fv__title-en {
        margin-right: 40px;
    }
}

.blog {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.blog__content {
    margin: 130px 34px 98px;

    @include sp {
        margin: 90px 0 55px;
    }
}

.blog__item {
    background-color: $bg-color;
}

.pagination {
    margin-bottom: 139px;
    text-align: center;

    @include sp {
        margin-bottom: 80px;
    }

    .page-numbers {
        display: inline-block;
        font-size: 0.875rem;
        padding: 22px 25px;
        border: 1px solid $main-color;
        border-radius: 50%;
        color: $main-color;
        text-decoration: none;
        margin: 0 15px;
        transition: all 0.3s;

        @include sp {
            padding: 11px 13.5px;
            font-size: 0.75rem;
        }

        &.current {
            background: $main-color;
            color: #fff;
        }

        // 「.next」と「.prev」以外を非表示
        &:not(.next):not(.prev):not(.current) {
            display: none;
        }

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
}