@use '../base/_setting' as *;

/************************
    blog-detail
**************************/

.blog__post {
    background-color: $bg-color;
}

.blog-detail {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    margin: 34px auto 0;
    border-radius: 10px;
    padding: 41px 40px 23px;
    box-sizing: border-box;

    @include sp {
        margin-top: 50px;
        padding: 40px 17px;
    }

    .flex-box {
        gap: 19px;
    }

    .blog__date {
        font-size: clamp(0.75rem, 0.528rem + 0.46vw, 0.875rem);
    }

    h2 {
        margin-top: 25px;
        font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);

        @include sp {
            line-height: 1.5;
        }
    }
}

.blog__img {
    margin-top: 41px;
}

.blog__text {
    h2 {
        font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
    }

    p {
        margin-top: 50px;
        font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
        line-height: 1.8;

        &:first-of-type {
            margin-top: 45px; // 最初のだけ消す
        }
    }

    ul {
        margin-top: 50px;
        line-height: 1.8;
    }

    li {
        position: relative;
        padding-left: 25px;

        &::before {
            content: "・";
            font-size: 0.875rem;
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.blog-navigation {
    background-color: #F0F0F0;
    margin-top: 139px;
}

.blog-navigation__inner {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    align-items: center;

    &::after {
        content: "";
        width: 56px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%) rotate(-90deg);
        background-color: $main-color;
    }

}

.blog-navigation__prev,
.blog-navigation__next {
    a {
        font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
        position: relative;
        display: block;
        width: 100%;
        line-height: 1;
        box-sizing: border-box;
        max-width: clamp(20rem, 6.286rem + 28.57vw, 32rem);
        display: flex;
        flex-direction: column;
    }

    .arrow {
        top: 50%;
        transform: translateY(-50%);
        padding: 11px;
        background-color: #F0F0f0;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 3px;
            height: 8px;
            background: #4b4b4b;
        }

        &::before {
            top: 5px;
        }

        &::after {
            bottom: 5px;
        }

    }
}

.blog-navigation__prev {
    a {
        padding: 31px 15px 31px 95px;
        text-align: left;
    }

}


.blog-navigation__next {
    a {
        padding: 31px 95px 31px 15px;
        text-align: right;
    }
}

.navigation__prev-box,
.navigation__next-box {

    &::before {
        content: '';
        width: 5px;
        height: 5px;
        border: 0;
        border-top: solid 2px $main-color;
        border-right: solid 2px $main-color;
        position: absolute;
        top: 50%;
        bottom: 50%;
        margin: auto;
        transition: all 0.3s;

    }

    &::after {
        content: '';
        border: 1px solid $main-color;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        transition: all 0.3s;
    }


}

.navigation__prev-box {
    &::before {
        left: 60px;
        transform: rotate(-135deg);
    }

    &::after {
        left: 50px;
    }
}

.navigation__next-box {
    &::before {
        right: 60px;
        transform: rotate(45deg);
    }

    &::after {
        right: 50px;
    }
}

.nav-label {
    display: none;

    @include sp {
        display: block;
    }
}

.post-title {
    line-height: 1.4;

    @include sp {
        display: none;
    }
}

.post-date {
    text-align: left;
    font-size: 0.75rem;
    margin-top: 6px;

    @include sp {
        display: none;
    }
}