@use '../../base/_setting' as *;

/************************
    entry
**************************/
.entry__wrapper {
    background-color: $bg-color;
    padding: 33px 17px 57px;
    margin-bottom: 139px;

    @include sp {
        padding: 75px 0;
    }
}

.entry__inner {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 58px 71px 81px;
    box-sizing: border-box;

    @include sp {
        padding: 58px 17px 81px;
    }
}

.entry__textarea {
    text-align: center;
    padding-bottom: 95px;
    background-image: url("./../img/line g.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    box-sizing: border-box;

    @include sp {
        padding-bottom: 60px;
    }
}

.entry__sabtitle {
    font-size: clamp(1rem, 0.824rem + 0.75vw, 1.5rem)
}

.entry__title {
    font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
    margin-top: 29px;

    @include sp {
        line-height: 1.4;
    }

    span {
        color: $accent-color;
    }

    br {
        display: none;

        @include sp {
            display: block;
        }
    }
}

.entry__text {
    margin: 51px auto 0;
    max-width: 495px;
    width: 100%;
    text-align: left;
    line-height: 1.5;
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);

    span {
        color: $accent-color;
    }

    @include sp {
        margin-top: 30px;
        max-width: 100%;
    }
}

.form {
    margin-top: 97px;
}

.form-item {
    gap: 35px;
    margin-top: 27px;
    align-items: center;

    @include sp {
        display: block;
    }
}

.form-item-label {
    max-width: 128px;
    width: 100%;

    span {
        color: $accent-color;
    }

    @include sp {
        max-width: 100%;
    }
}

.wpcf7-form-control-wrap {
    width: 100%;
}

.wpcf7-text {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $btn-color;
    border-radius: 10px;
    background-color: $bg-color;
    max-height: 56px;

    &::placeholder {
        color: #757575;
        font-size: 1rem;
        line-height: 1;
    }

    @include sp {
        margin-top: 20px;
    }
}

.form-birth {
    align-items: normal;

    .form-item-label {
        margin-top: 16px;
    }

    input,
    select {
        padding: 20px;
        max-width: 168px;
        width: 100%;
        box-sizing: border-box;
        margin-right: 10px;
        border: 1px solid $btn-color;
        border-radius: 10px;
        background-color: $bg-color;

        &::placeholder {
            color: #757575;
        }

        @include sp {
            max-width: 130px;
        }
    }

    input {
        font-size: 0.875rem;
    }

    select {
        padding: 20px;
        font-size: 0.75rem;

        @include sp {
            padding: 20px 7px;
        }
    }

    .wpcf7-select {
        appearance: none; // ブラウザ標準の矢印を消す
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("./../img/arrow.svg");
        background-repeat: no-repeat;
        background-size: 11px 6px;
        background-position: right 15px center; // ←ここを調整！右の余白を詰めたいなら数値を小さく

        &:focus {
            outline: 2px solid $accent-color;
        }

        @include sp {
            background-size: 8px 4px;
            background-position: right 7px center;
        }
    }
}

.custom-radio {
    cursor: pointer;

    input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        white-space: nowrap;
    }

    input[type="radio"]:checked+span.wpcf7-list-item-label::after {
        display: block;
    }

    input[type="radio"]:checked+.fake-radio::after {
        display: block;
    }


    .wpcf7-list-item.first {
        margin-left: 0;
    }

    span.wpcf7-list-item-label {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            border: 1px solid $btn-color;
            background-color: $bg-color;
            margin-right: 12px;
            vertical-align: middle;
            box-sizing: border-box;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: $main-color;
            display: none;
        }
    }

    input[type="radio"]:focus-visible+span.wpcf7-list-item-label::before {
        outline: 2px solid $accent-color;
        outline-offset: 3px;
    }
}

.birth-month {
    margin-right: 25px;
    max-width: 194px;

    @include sp {
        margin-right: 0px;
    }
}

.birth-month-inner {
    max-height: 56px;
}

.wpcf7-radio,
.birth-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.wpcf7-radio {
    @include sp {
        margin-top: 20px;
    }
}

.form-radio1 {
    span.wpcf7-list-item-label {

        &::before,
        &::after {
            border-radius: 50%;
        }
    }
}

.form-radio1,
.form-radio2 {
    margin-top: 42px;
    align-items: baseline;

    .form-item-label {
        line-height: 1.5;
    }

    @include sp {
        margin-top: 45px;
    }
}

.wpcf7-list-item {
    margin-left: 0 !important;
}

input,
select {
    vertical-align: baseline;
}

.form-radio2 {
    .wpcf7-radio {
        gap: 21px;
    }

    .wpcf7-list-item:nth-child(7) {
        display: none;
    }
}

input[type="radio"]:focus-visible+.fake-radio {
    outline: 2px solid $accent-color;
    outline-offset: 3px;
}

.form-pr {
    align-items: normal;

    .isMsg {
        margin-top: 16px;
    }

    .wpcf7-textarea {
        width: 100%;
        padding: 20px 20px 53px;
        box-sizing: border-box;
        border: 1px solid $btn-color;
        border-radius: 10px;
        background-color: $bg-color;
        font-size: 1rem;

        &::placeholder {
            color: #757575;
        }

        @include sp {
            margin-top: 20px;
        }
    }
}

.form-check {
    text-align: center;
    margin-top: 100px;
    font-size: 0.875rem;

    @include sp {
        margin-top: 60px;
    }
}

.custom-checkbox {
    cursor: pointer;
    font-size: 0.875rem;

    input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        white-space: nowrap;
    }

    input[type="checkbox"]:checked+span.wpcf7-list-item-label::after {
        display: block;
    }

    span.wpcf7-list-item-label {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            border: 1px solid $btn-color;
            background-color: $bg-color;
            margin-top: 2px;
            margin-right: 6px;
            vertical-align: middle;
            box-sizing: border-box;
        }

        &::after {
            content: "";
            position: absolute;
            top: 7px;
            left: 5px;
            width: 4px;
            height: 8px;
            border: solid #333;
            border-width: 0 2px 2px 0;
            transform: translateY(-50%) rotate(45deg);
            display: none;
        }
    }

    input[type="checkbox"]:focus-visible+span.wpcf7-list-item-label::before {
        outline: 2px solid $accent-color;
        outline-offset: 3px;
    }
}

.button-wrap {
    position: relative;
}

.wpcf7-submit {
    display: block;
    max-width: 256px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin: 61px auto 0;
    background-color: #fff;
    border: 1px solid $main-color;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.0;
    transition: all 0.3s;

    &:hover {
        background-color: $main-color;
        color: #fff;
    }

    &:disabled {
        background-color: $bg-color;
        pointer-events: none;
        cursor: not-allowed;
        border-color: $bg-color;
        opacity: 0.5;

        &:hover {
            background-color: #fff;
            color: $main-color;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}

.wpcf7 form.sent .wpcf7-response-output {
    display: none;
}

.wpcf7-response-output {
    display: none;
}

.wpcf7-spinner {
    position: absolute !important;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);

    @include sp {
        right: 5%;
    }
}

.wpcf7-not-valid-tip {
    font-size: 0.75rem !important;
    margin-top: 3px;
}