@use '../base/_setting' as *;

/************************
    parts-fv
**************************/
.fv {
    margin-top: clamp(3.438rem, -3.451rem + 14.35vw, 7.313rem);
    position: relative;

    img{
        height: clamp(12.5rem, -2.944rem + 32.18vw, 21.188rem);
    }

    .section__wrapper {
        position: absolute;
        top:clamp(1.25rem, -4.861rem + 12.73vw, 4.688rem);
        left: clamp(0rem, -25.778rem + 53.7vw, 14.5rem);
        color: $main-color;
        font-weight: bold;
        flex-direction: column;
        max-width: clamp(15.625rem, 4.514rem + 23.15vw, 21.875rem);

    }
}

.fv__title-en {
    font-size: clamp(2.25rem, -0.861rem + 6.48vw, 4rem);
    font-family: $sab-font;
    background-color: #fff;
    display: inline-block;
    padding: 3px 10px;
}

.fv__title-ja {
    margin-top: 21px;
    font-size: clamp(1.25rem, 0.806rem + 0.93vw, 1.5rem);
    background-color: #fff;
    display: inline-block;
    padding: 3px 10px;
}

.fv__subtitle {
    color: $accent-color ;
    padding: 7px 10px;
    margin-top: 18px;
    background-color: #fff;
    display: inline-block;
    font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
}