@use '../base/_setting' as *;

/************************
    parts-fv
**************************/
.fv {
    background-size: cover; // 画像を全体に広げる
    background-position: center; // 中央に表示
    background-repeat: no-repeat; // 繰り返しなし
    
}

.fv__wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 75px 25px 98px; 
    box-sizing: border-box;

    @include tab {
        padding: 50px 20px;
        margin: 0 auto;
    }
}

.fv__title-en {
    font-size: clamp(2.25rem, -0.861rem + 6.48vw, 4rem);
    font-family: $sab-font;
    background-color: #fff;
    display: inline-block;
    padding: 3px 10px;
    font-weight: normal;
}

.fv__title-ja {
    margin-top: 18px;
    font-size: clamp(1rem, 0.824rem + 0.75vw, 1.5rem);
    background-color: #fff;
    display: block;
    width: fit-content;
    padding: 3px 10px;
}

.fv__subtitle {
    color: $accent-color ;
    padding: 7px 10px;
    margin-top: 18px;
    background-color: #fff;
    display: inline-block;
    font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
    text-wrap-mode: nowrap;
    font-weight: bold;
}