/**********************
    setting
***********************/

$main-color:#222222;
$accent-color: #988C2C;
$btn-color: #AFA86F;
$bg-color:#FAF7F1;


$main-font:'Noto Sans JP';
$sab-font:'Viga';



// ブレイクポイント
$pc: 1080px;
$tab: 820px;
$sp: 480px;

@mixin pc {
    @media screen and (max-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}