@use '../../base/_setting' as *;

/************************
    recruit
**************************/
.top-recruit {
    background-color: $bg-color;
    padding: 0 17px clamp(5.5rem, 4.378rem + 4.79vw, 8.688rem);
    overflow-x: hidden;

    .top-title {
        max-width: 896px;
        background: url("./../img/recruitment.png") center / 100% no-repeat;
        margin: 0 auto;

        @include sp {

            width: 528px;
            margin: 0;
        }
    }

    .sabtitle {
        text-align: center;
        line-height: 1;

        @include tab {
            line-height: 1.5;
        }

        @include sp {
            text-align: left;
        }
    }

    .top-recruit__btn {
        max-width: 956px;
        margin: clamp(1.75rem, 0.958rem + 3.38vw, 4rem) auto 0;

        .flex-box {
            gap: calc((16/1024)*100%);

            @include sp {
                flex-direction: column;
                gap: 19px;
            }

            a {
                max-width: 470px;

                @include sp {
                    max-width: 734px;
                }
            }
        }

        a {
            background-color: #fff;
            border: none;
            padding: clamp(2.063rem, 0.174rem + 3.94vw, 3.125rem) 0;
            font-size: 1.25rem;

            &:hover {
                background-color: $main-color;
            }
        }
    }

    .recruit-item3 a {
        margin-top: clamp(1.188rem, 0.965rem + 0.46vw, 1.313rem);
        max-width: 956px;
        width: 100%;
    }
}