@use '../../base/_setting' as *;

/************************
    recruit
**************************/
.top-recruit {
    background-color: $bg-color;
    padding: 45px 0 139px;

    .top-title {
        max-width: 896px;
        background: url("./img/recruitment.png") center / 100% no-repeat;
        margin: 0 auto;

        .main-title {
            position: absolute;
            top: 42px;
            left: 50%;
            transform: translate(-50%);
            font-size: 3.25rem;
        }
    }

    .sabtitle {
        text-align: center;
        margin-top: 10px;
    }

    .top-recruit__btn {
        margin: 64px 34px 0;

        .flex-box {
            gap: calc((52/1024)*100%);

            a {
                max-width: 470px;
            }
        }

        a {
            background-color: #fff;
            border: none;
            padding: 50px 0;

            &:hover {
                background-color: $main-color;
            }
        }
    }

    .recruit-item3 a {
        margin-top: 21px;
        max-width: 956px;
        width: 100%;
    }
}

