@use '../../base/_setting' as *;

/************************
    recruit
**************************/
.top-recruit {
    background-color: $bg-color;
    padding: 45px 0 139px;

    .top-title {
        max-width: 896px;
        background: url("./img/recruitment.png") center / 100% no-repeat;
        margin: 0 auto;

        .main-title {
            position: absolute;
            top: 42px;
            left: 50%;
            transform: translate(-50%);
            font-size: 3.25rem;
        }
    }

    .sabtitle{
        text-align: center;
        margin-top: 10px;
    }

    .top-recruit__btn{
        margin-top: 64px;
    display: grid;
    grid-template-columns: 470px 470px;
    gap: calc((52/1024)*100%);

    a{

        max-width: 470px;
        background-color: #fff;
        border: none;
        padding: 50px 0;
    }
    }
}