@use '../../base/_setting' as *;

/************************
    about
**************************/

.top-about {
    margin-top: calc(100vh - 14px);


    .swiper {
        height: 429px;

        @include sp {
            height: 261px;
        }
    }
}

.swiper-slide-active .top-about__img {
    position: relative;
    z-index: 1;
    margin-top: 36px;

    @include sp {
        margin-top: 27px;
    }
}


.top-about__img {
    display: block;
    width: 100%;
    height: calc((393/429)*100%);
    transition: margin-top 0.3s ease;
    border-radius: 60px;


    @include sp {
        max-height: 210px;
    }

}

.top-about__slogan {
    position: absolute;
    bottom: calc((9/429)*100%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    text-align: center;
    line-height: 1.2;

    @include sp {
        bottom: 0;
    }

    p {
        font-size: clamp(1.5rem, -0.278rem + 3.7vw, 2.5rem);
        background-color: #fff;
        padding: 10px 11px 14px;
        font-weight: bold;
        display: inline-block;
        text-wrap-mode: nowrap;

        @include sp {
            padding: 12px 11px 4px;
        }
    }

    .slogan_02 {
        margin-top: 7px;

        @include sp {
            margin-top: 8px;
        }
    }
}

.top-about__textarea {
    margin-top: 100px;
    font-size: clamp(1.125rem, -0.875rem + 4.17vw, 2.25rem);
    line-height: 1.8;
    font-weight: bold;
    text-align: center;
    padding: 0 16px;

    @include sp {
        line-height: 2.5;
        margin-top: 52px;
    }
}

.top-about__text {
    padding-bottom: clamp(2.438rem, 2.151rem + 1.22vw, 3.25rem);
    background: url("./img/map.png") center / contain no-repeat;


    p {
        margin-top: 52px;

        @include sp {
            margin-top: 39px;
        }


    }
}