@use '../../base/_setting' as *;
/************************
    top
**************************/

.top-fv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.fv__img-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fv-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: 1;
}

.fv-img.active {
    opacity: 1;
    z-index: 2;
}

.top-fv__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.top-fv__textarea {
    position: absolute;
    top: calc((286/823)*100%);
    z-index: 4;
    width: 100%;

    @include sp {
        top: calc((414/667)*100%)
    }
}

.top-fv__title {
    font-family: $sab-font;
    font-size: clamp(3rem, -2.333rem + 11.11vw, 6rem);
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    position: absolute;
    left: clamp(0.75rem, -5.25rem + 12.5vw, 4.125rem);
}

.top-fv__text {
    margin-top: 318px;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    max-width: 419px;
    padding: 15px 0 15px 66px;
    z-index: 1;

    @include sp {
        font-size: 0.75rem;
        max-width: 208px;
        padding: 9px 12px;
        margin-top: 134px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 54px;
        border-right: 30px solid transparent;
        border-top: 54px solid $main-color;
        z-index: -1; // 台形を文字の背面に

        @include sp {
            height: 30px;
            border-right: 15px solid transparent;
            border-top: 30px solid $main-color;
        }
    }
}

.fv__blog {
    a {
        align-items: center;
        position: absolute;
        bottom: clamp(0.625rem, -2.486rem + 6.48vw, 2.375rem);
        left: clamp(0.75rem, -5.806rem + 13.66vw, 4.438rem);
        z-index: 4;
        width: calc((1263/1440)*100%);
        border: $main-color 1px solid;
        border-radius: 50px;
        margin: 0 auto;
        background-color: #fff;
        color: $main-color;
        gap: calc((90/1263)*100%);

        @include sp {
            width: calc((351/375)*100%)
        }
    }
}

.fv__blog-left {
    font-family: $sab-font;
    background-color: $main-color;
    color: #fff;
    font-size: clamp(0.625rem, -0.931rem + 3.24vw, 1.5rem);
    font-weight: bold;
    text-align: center;
    width: clamp(3.25rem, -11.639rem + 31.02vw, 11.625rem);
    padding: 19px 0;
    border-radius: 50px 0 0 50px;
}

.fv__blog-title {
    font-size: clamp(0.75rem, 0.306rem + 0.93vw, 1rem);
    padding: clamp(0.625rem, -0.819rem + 3.01vw, 1.438rem) 0;
    margin-right: 186px;


    @include sp {
        margin-right: 0;
    }
}

.fv__blog-btn {
    font-family: $sab-font;
    font-size: 0.875rem;
    font-weight: bold;
    position: relative;
    padding: 24px 0;
    position: absolute;
    right: 63px;

    &::before,
    &::after {
        position: absolute;
        content: '';
        right: -16px;
        width: 2px;
        height: 8px;
        background: $main-color;
    }

    &::before {
        top: 29px;
        transform: rotate(45deg);
    }

    &::after {
        bottom: 29.5px;
        transform: rotate(-45deg);
    }

    @include sp {
        display: none;
    }
}