@use '../../base/_setting' as *;

/************************
    blog
**************************/
.top-blog {
    background-color: $bg-color;
    padding: 45px 0 125px;
    margin-top: clamp(4.875rem, 1.653rem + 6.71vw, 6.688rem);

    .section__wrapper {
        box-sizing: content-box;

        @include tab {
            margin: 0;
            max-width: 100%;
            box-sizing: border-box;
        }
    }

    @include sp {
        padding: 54px 0 176px;
        position: relative;
    }

    .top-title {
        max-width: clamp(13.063rem, -3.16rem + 33.8vw, 22.188rem);
        width: 100%;
        background: url("./../img/blog.png") center / 100% no-repeat;
        margin-left: -13px;

        @include tab {
            margin-left: 17px;
        }

        .main-title {
            max-width: clamp(10rem, -1.111rem + 23.5vw, 16.25rem);
            width: 100%;
        }
    }

    .sabtitle {
        margin-left: 34px;
        margin-top: 31px;

        @include sp {
            margin-top: 19px;
            margin-left: 0;
        }
    }

    .top-section__title {
        .flex-box {
            justify-content: space-between;
            align-items: center;
            margin-right: 54px;
        }
    }
}

.top-blog__btn {
    font-weight: bold;

    @include sp {
        position: absolute;
        left: 90px;
        bottom: 87px;
    }

    a {
        font-family: $sab-font;
        text-decoration: underline;
        text-underline-offset: 2px;
        position: relative;
        color: $main-color;
    }

    &:hover {
        .arrow {
            transform: scale(1.2);
        }
    }
}


.top-blog__link {
    a {
        transition: all 0.3s;

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 0.6;
        }
    }
}

.top-blog__content {
    margin: 58px 34px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: clamp(7.563rem, 1.007rem + 13.66vw, 11.25rem);
    gap: 23px 52px;

    @include tab {
        grid-template-columns: 1fr;
        gap: 9px;
    }

    @include sp {
        margin: 43px 0 0;
    }
}

.top-blog__item {
    border-radius: 10px;
    background-color: #fff;
}

.top-blog__img img {
    max-width: clamp(7.563rem, 3.674rem + 8.1vw, 9.75rem);
    height: clamp(7.563rem, 1.007rem + 13.66vw, 11.25rem);
    border-radius: 10px 0 0 10px;

    @include sp {
        width: 121px;
    }
}

.top-blog__text {
    padding: clamp(0.563rem, -0.66rem + 2.55vw, 1.25rem) clamp(0.438rem, -1.34rem + 3.7vw, 1.438rem) clamp(0.313rem, -1.354rem + 3.47vw, 1.25rem) clamp(1.125rem, 0.569rem + 1.16vw, 1.438rem);
    max-width: 250px;
    width: 100%;
    position: relative;

    @include tab {
        max-width: 600px;
    }
}

.top-blog__category {
    font-size: clamp(0.75rem, 0.528rem + 0.46vw, 0.875rem);
    display: flex;
    gap: 4px;

    img {
        width: 14px;
        height: 14px;
    }
}

.top-blog__title {
    font-size: clamp(0.875rem, 0.431rem + 0.93vw, 1.125rem);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    margin-top: clamp(0.563rem, -0.993rem + 3.24vw, 1.438rem);
    line-height: 1.5;
}

.top-blog__date {
    font-size: 0.75rem;
    position: absolute;
    bottom: clamp(0.313rem, -1.688rem + 4.17vw, 1.438rem);
}